/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.create-field {
    border: 2px solid black;
    width: 434px;
}

.battlefield-cell {
    border: 1px solid black;
}

.battlefield-cell-content {
    height: 40px;
    width: 40px;
}

temporarily {
    height: 40px;
    width: 40px;
}

.no-ships {
    height: 40px;
    width: 40px;
}

.ship-box {
    border: 2px solid #00f;
    background: rgba(0, 0, 255, .05);
}

.hover {
    border: 2px solid black;
}

.battlefield-table {
    padding: 0;
}

.ship-on-field {
    height: 40px;
    width: 40px;
    background: lightgreen;
}

.board-account {
    border: 1px solid black;
}

.mark-empty {
    background: yellow;
}

.mark-ship {
    background: red;
}

.enemy-cell {
    background: #fff;
    border: 1px solid #dcdcdc;
}

.enemy-cell:hover {
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color: #f6f6f6;
}

.records {
    width: 900px;
    height: 500px;
    overflow: auto;
}

.container-records {
    width: 880px;
    height: 500px;
    position: relative;
}